body
{
    background-image: url(..//img/bg.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
.footer
{
    background-color: black;
    width: 100%;
    bottom: 0;
    position: fixed;
    opacity: .8;
    padding: 10px;
}
.icon-box
{
    float: left;
}
.icon-div
{
    padding: 6px;
    margin: 10px;
    width: 70px;
   text-align: center;
   color: white;
   transition: .3s ease-in-out;
   cursor: pointer;
   
}
.icon-div:hover
{
    box-shadow: 0px 0px 10px gainsboro;
    background-color: #002F5B;
}
img
{
    height: 50px;
}
p
{
    font-family: monospace;
    text-shadow:0px 0px 7px white;
}

.formstyle
{
    width: 318px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    margin: 0 auto;
    box-shadow: 1px 2px 10px black;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    display: none;

    
}


input
{

width: 100px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
margin-top: 20px;
height: 40px;
}
.btns
{
    width: 82px;
   cursor: pointer;
    text-align: center;
    background-color: gray;
    padding: 12px;
    float: left;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.btns:hover
{
    background-color: darkgray;
}
.output
{

text-align: right;
}
.c
{
 background-color: red;
}
.hide
{
    text-align: center;
     font-size: 25px; 
     cursor: pointer; 
     color: white;
      font-family:monospace;
    border-radius: 50%;
      float: right;
      width: 30px;
      
      background-color: darkred;
      padding: 2px;
    }